* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family:'Fira Sans', sans-serif;
}

header {
  display: grid;
  padding-top: 50px;
  padding-bottom: 50px;
  row-gap: 30px;
  z-index: 12;
  width: 100%;
  position: fixed;
  top: 0;
}

header h1 {
  color: #AAA;
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}

header h1 strong {
  color: #313131;
}

header .search-box {
  display: flex;
  justify-content: center;
}

header .search-box input {
  outline: none;
  border: none;
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 16px;
  border-radius: 8px;
  background-color: #EEE;
  transition: 0.4s;
}

header .search-box input::placeholder {
  color: #888;
}

.container {
  width: 100%;
  margin: 300px auto 100px auto;
  display: flex;
}

.animeInfo {
  width: 320px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 11;
  background-color: white;
}

.anime-row {
  display: flex;
  flex-direction: column;
}

.anime-row .row {
  display: inline-flex;
  gap: 20px;
  margin-left: 20rem;
}

.anime-row .text-heading {
  margin-left: 20rem;
  margin-top: 1rem;
}

.card {
  width: 230px;
  height: 300px;
  padding: 0 0 1rem 0;
  box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 8px;
}

.card img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

.anime-content {
  padding: 40px;
  margin: 240px 0;
}

.anime-content img {
  width: 150px;
  height: 210px;
  object-fit: cover;
}

.overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 0;
  padding: 1rem;
  background-color: #313131d0;
  border-radius: 8px 8px 0 0;
  text-align: justify;
  opacity: 0;
  transition: 0.5s;
  color: white;
}

.anime-info:hover .overlay{
  opacity: 1;
  height: 90%;
}

.overlay .synopsis {
  width: 100%;
  height: 80%;
  padding: 1rem;
  overflow: auto;
}